export ANSIBLE_USER="teaglebuilt"
export ANSIBLE_PASSWORD="cosmo"
export KMASTER01="192.168.0.17"
export KWORKER01="192.168.0.230"
export ANSIBLE_HOST_KEY_CHECKING="False"
export METALLB="192.168.0.17"